<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Secured</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <h1>This is a secured page!</h1>
    <p><a href="/" th:href="@{/}">Back to home page</a></p>
    <h2>Get list of roles for current user</h2>
    <form th:action="getAllAddressById" method="POST" th:object="${requestDto}">
    <button name="userAction" value="" >GET</button>
    </form>
</div>

</body>
</html>